/* CSS HEX */
:root {
--grape: #a41399;
--grape-transparent: #a413986d;
--grape-transparent-transparent: #a4139813;

--book-green: #6cffb9;
--dark-book-green:#5ddc9e;

--book-dark: #351990;
--book-pink: #fe3199;
--book-pink-dark: #cf267b;


--ash-grape: #a3629e;

--book-yellow: #f5e961;
--book-yellow-transparent-transparent: #f5e9615c;


--beige: #eff6e0ff;
--ash-black: #2c2c2c;
--ash-black-transparent: #2c2c2c5e;
--ash-black-transparent-transparent: #2c2c2c34;

}

@font-face {
    font-family: AIMT;
    src: url('./Always In My Heart.ttf');
}

#quote-status{
    visibility: hidden;
    font-size: 0.9rem;
    padding: 0.5rem 0;
    margin: 0;
}

html{
    font-size: 16px;
}

body{
    
    background-color: var(--grape);
    color: var(--beige);
    text-align: center;
    
    background-image: url("./magazine-colors-media-page-dithered-image.png");
    background-size: 100%;
    
    padding: 0 1.5rem;

}

header, footer{
    font: 2rem AIMT;
    background-color: var(--ash-black-transparent-transparent) ;
    margin: 1rem 0;
    padding: 0.5rem 1rem;
}

h1, h3{
    padding: 0;
    margin: 0rem;
}

main{
    font: 1.5rem sans-serif;
    background-color: var(--ash-black-transparent-transparent);
    
    padding: 1.5rem;
}


section {
    padding-top: 1rem;
    border-top: medium dashed  var(--book-yellow);

}


section form {
    display: flex;
    flex-direction: column;
    row-gap: 0.2rem;

    width: 14rem;
    margin: 0 auto;
}

section form button{
    margin: 1rem 0;
}

button{
    padding: 0.2rem 1rem;
    font-size: 0.5em;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: var(--book-pink);
    border: none;
    border-radius: 0.2rem;
    box-shadow: 0 0.5rem #999;
    font-weight: bolder;
}

.button:hover {
    background-color: var(--book-pink-dark);
}

.button:active {
  background-color: var(--book-pink-dark);
  box-shadow: 0 1rem #666;
  transform: translateY(4px);
}


textarea, input {
    background-color: var(--beige);
    border: solid 0.2rem var(--ash-black-transparent);
    border-radius: 0.2rem;
}

#person {
    margin-top: 0%;
}

/* media queries */

@media all and (min-width: 1024px){
    body {
        width: 45rem;
        margin: 0 auto;
    }
    
    section form {
        width: 20rem;
    }

}


@media all and (min-width: 1024px) and (max-width: 1280px) {
    body {
        width: 45rem;
        margin: 0 auto;
    }
    
    section form {
        width: 20rem;
    }

}

@media all and (max-width: 320px) {
    section form{
        width: 10rem;
    }

}

