/* CSS HEX */
:root {
--grape: #a41399;
--grape-transparent: #a413986d;
--grape-transparent-transparent: #a4139813;

--book-green: #6cffb9;
--dark-book-green:#5ddc9e;

--book-dark: #351990;
--book-pink: #fe3199;

--ash-grape: #a3629e;

--book-yellow: #f5e961;
--book-yellow-transparent-transparent: #f5e9615c;


--beige: #eff6e0ff;
--ash-black: #2c2c2c;
--ash-black-transparent-transparent: #2c2c2c34;

}

@font-face {
    font-family: AIMT;
    src: url('./Always In My Heart.ttf');
}

#quote-status{
    visibility: hidden;
    font-size: 0.9rem;
    padding: 0.5rem 0;
    margin: 0;
}

html{
    font-size: 16px;
}

body{
    
    background-color: var(--grape);
    color: var(--beige);
    text-align: center;
    
    background-image: url("./magazine-colors-media-page-dithered-image.png");
    background-size: 100%;
    
    padding: 0 1.5rem;

}

header, footer{
    font: 1.5rem AIMT;
    background-color: var(--ash-black-transparent-transparent) ;
    margin: 1rem 0;
    padding: 0.5rem 1rem;
}

h1, h3{
    padding: 0;
    margin: 0rem;
}

main{
    font: 1em sans-serif;
    background-color: var(--ash-black-transparent-transparent);
    
    padding: 1rem;
}


section {
    padding-top: 1rem;
    border-top: medium dashed  var(--book-yellow);
}